/* Foto redonda */

img {
    border-radius: 50%;
  }

/* nav bar */
.navbar {
    overflow: hidden;
    background-color: #008080;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links dentro da nav bar*/
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Background e hover */
  .navbar a:hover {
    background: whitesmoke;
    color: black;
  }
  
  /* Conteudo */
  .main {
    margin-top: 0px; /* Add a top margin to avoid content overlay */
  }
  How To Create a Fixed Bottom Menu
  To create a fixed bottom menu, use position:fixed and bottom:0:
  
  Example
  /* navigation bar */
  .navbar {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
  }
  
  /* Main content */
  .main {
    margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
  }

  /* Add a color to the active/current link */
.navbar a.active {
  background-color: #009a9a;
  color: white;
} 

.font {
  font-family: Arial, Helvetica, sans-serif;
}